body{
    margin: auto;
    width: 500px;
}

#errMessage{
    margin: 5px 0 20px 0;
    font-size: large;
    color: rgb(7, 160, 160);
}

#title{
    margin-top: 300px;
    margin-bottom: 50px;
    background-color: bisque;
    padding: 10px;
    border-radius: 5px;
}
