<!DOCTYPE html>
<html>

<head>
    <title> Verification </title>
</head>

<body>
    <div id="container">
        <h1 id="title">{{title}}</h1>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" placeholder="Enter OTP" class="form-control" [(ngModel)]="OTP" id="OTP" name="OTP" />
                <small *ngIf="isShown" id="errorMess" class="text-danger">
                    Sorry the OTP don't match. Please try again.
                </small>
            </div>
            <button class="btn btn-success" type="submit"> Verify </button>
        </form>
    </div>
</body>

</html>